* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: chocolate;

}

body h1 {
    height: 3rem;
    color: rgb(128, 53, 0);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 43vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border: 1px solid black;
    /* width: 7vw; */
    /* height: 13vh; */
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 1px solid rgb(128, 53, 0);
}

.card img {
    width: 90%;
    object-fit:fill;
}

.hidden {
    display : none;
}

.pair {
    background-color: chartreuse;
}